# TensorFlow Workbook - Example
This example uses the testing data put together by J. Czerniak and H.Zarzycki
See "Application of rough sets in the presumptive diagnosis of urinary system diseases, Artificial Intelligence and Security in Computing Systems,: ACS'2002 9th International Conference Proceedings, Kluwer Academic Publishers,2003, pp. 41-51.  
See also "Accute Inflammations" at OpenML http://www.openml.org/d/1455

> # Select Data File
Assumes Linux environment with Jupyter Notebook and TensorFlow installed  
Easiest to install Jupyter with Anaconda.  See http://jupyter.org/install.html  
TensorFlow is pretty painless too.  See https://www.tensorflow.org/get_started/os_setup  
Place the csv data file in the current directory:  
Assumes:   
-commas separated fields  
-column headers, also separated by columns  
-no empty or NaN values  
-all text fields converted to numbers  
-target (dependent variable) is in final column

In [1]:
import tensorflow
import numpy
import pandas
import ipywidgets as widgets
from IPython.display import display
csv_file_list = !ls | egrep '.csv'
d_csv_choice = widgets.Dropdown(
    options = csv_file_list,
    values = csv_file_list, 
    description = 'Available .csv\'s',
)
display(d_csv_choice)

> # Inspect The Data
Make sure your data looks right  
Pandas library will assign an index on the right; all good

In [6]:
df = pandas.read_csv(d_csv_choice.value, header=None)
df

      0   1   2   3  4   5   6   7  8  9
0     5   1   1   1  2   1   3   1  1  0
1     5   4   4   5  7  10   3   2  1  0
2     3   1   1   1  2   2   3   1  1  0
3     6   8   8   1  3   4   3   7  1  0
4     4   1   1   3  2   1   3   1  1  0
5     8  10  10   8  7  10   9   7  1  1
6     1   1   1   1  2  10   3   1  1  0
7     2   1   2   1  2   1   3   1  1  0
8     2   1   1   1  2   1   1   1  5  0
9     4   2   1   1  2   1   2   1  1  0
10    1   1   1   1  1   1   3   1  1  0
11    2   1   1   1  2   1   2   1  1  0
12    5   3   3   3  2   3   4   4  1  1
13    1   1   1   1  2   3   3   1  1  0
14    8   7   5  10  7   9   5   5  4  1
15    7   4   6   4  6   1   4   3  1  1
16    4   1   1   1  2   1   2   1  1  0
17    4   1   1   1  2   1   3   1  1  0
18   10   7   7   6  4  10   4   1  2  1
19    6   1   1   1  2   1   3   1  1  0
20    7   3   2  10  5  10   5   4  4  1
21   10   5   5   3  6   7   7  10  1  1
22    3   1   1   1  2   1   2   1  1  0
23    8   4   5   1  2   ?   7   3  1  1
24    1   1   1   1  2   1   3   1  1  0
25    5   2   3   4  2   7   3   6  1  1
26    3   2   1   1  1   1   2   1  1  0
27    5   1   1   1  2   1   2   1  1  0
28    2   1   1   1  2   1   2   1  1  0
29    1   1   3   1  2   1   1   1  1  0
..   ..  ..  ..  .. ..  ..  ..  .. .. ..
669   5  10  10   8  5   5   7  10  1  1
670   3  10   7   8  5   8   7   4  1  1
671   3   2   1   2  2   1   3   1  1  0
672   2   1   1   1  2   1   3   1  1  0
673   5   3   2   1  3   1   1   1  1  0
674   1   1   1   1  2   1   2   1  1  0
675   4   1   4   1  2   1   1   1  1  0
676   1   1   2   1  2   1   2   1  1  0
677   5   1   1   1  2   1   1   1  1  0
678   1   1   1   1  2   1   1   1  1  0
679   2   1   1   1  2   1   1   1  1  0
680  10  10  10  10  5  10  10  10  7  1
681   5  10  10  10  4  10   5   6  3  1
682   5   1   1   1  2   1   3   2  1  0
683   1   1   1   1  2   1   1   1  1  0
684   1   1   1   1  2   1   1   1  1  0
685   1   1   1   1  2   1   1   1  1  0
686   1   1   1   1  2   1   1   1  1  0
687   3   1   1   1  2   1   2   3  1  0
688   4   1   1   1  2   1   1   1  1  0
689   1   1   1   1  2   1   1   1  8  0
690   1   1   1   3  2   1   1   1  1  0
691   5  10  10   5  4   5   4   4  1  1
692   3   1   1   1  2   1   1   1  1  0
693   3   1   1   1  2   1   2   1  2  0
694   3   1   1   1  3   2   1   1  1  0
695   2   1   1   1  2   1   1   1  1  0
696   5  10  10   3  7   3   8  10  2  1
697   4   8   6   4  3   4  10   6  1  1
698   4   8   8   5  4   5  10   4  1  1

[699 rows x 10 columns]

> # Select 75/35 Split for Training/Test Data
This splits the labeled data into Training and Testing batches

In [7]:
training_df = df.sample(frac = .75)
training_df
training_indices_list = list(training_df.index)
the_range = len(df)
total_indices_list = list(range(the_range))
testing_indices_list = list(set(total_indices_list) - set(training_indices_list))
print(training_indices_list)
print(testing_indices_list)
testing_df = df.drop(df.index[training_indices_list])
testing_rows = len(testing_df)
training_rows = len(training_df)
training_df.to_csv('training_data.csv', index = False, header = False)
testing_df.to_csv('testing_data.csv', index = False, header = False)
the_columns = len(df.columns) - 1
training_length = len(training_df.index)
testing_length = len(testing_df.index)
print(the_columns)
##testing_df = df.drop(training_df)
##y = len(testing_df)
##print(y)

[171, 229, 318, 262, 595, 652, 462, 137, 158, 659, 405, 183, 446, 352, 223, 543, 151, 197, 374, 667, 4, 395, 26, 20, 569, 73, 563, 256, 259, 67, 398, 636, 553, 37, 319, 305, 15, 337, 533, 218, 602, 348, 541, 243, 577, 438, 642, 460, 176, 192, 372, 591, 572, 452, 289, 678, 21, 182, 428, 247, 130, 153, 172, 396, 206, 194, 329, 60, 542, 664, 617, 278, 671, 547, 681, 189, 209, 18, 110, 566, 646, 551, 508, 178, 619, 586, 516, 445, 230, 580, 668, 127, 350, 96, 529, 578, 480, 159, 166, 688, 415, 203, 24, 618, 108, 324, 333, 544, 557, 526, 43, 116, 175, 605, 234, 103, 196, 656, 409, 401, 471, 132, 565, 477, 435, 447, 302, 378, 149, 81, 52, 346, 698, 266, 496, 249, 369, 325, 362, 163, 601, 660, 135, 361, 493, 70, 581, 2, 363, 525, 71, 84, 501, 380, 430, 680, 662, 607, 439, 392, 332, 40, 136, 562, 1, 497, 419, 504, 22, 111, 478, 157, 188, 425, 515, 44, 429, 254, 600, 635, 294, 675, 468, 588, 371, 268, 343, 235, 74, 265, 587, 90, 509, 404, 354, 432, 427, 448, 211, 95, 472, 483, 638, 210, 390, 590, 385, 423, 459, 334, 384, 610, 169, 488, 575, 236, 270, 32, 538, 56, 199, 457, 94, 34, 571, 599, 365, 91, 161, 193, 253, 400, 458, 117, 534, 684, 88, 263, 682, 68, 170, 251, 36, 370, 514, 552, 347, 672, 622, 449, 523, 624, 454, 674, 285, 584, 437, 376, 564, 141, 72, 9, 272, 208, 156, 310, 83, 341, 217, 252, 421, 399, 677, 556, 219, 414, 696, 356, 313, 686, 227, 291, 628, 0, 39, 124, 375, 281, 408, 7, 530, 410, 364, 368, 614, 695, 257, 3, 19, 264, 42, 579, 298, 48, 367, 679, 228, 120, 267, 65, 640, 461, 306, 467, 373, 345, 204, 612, 665, 185, 407, 568, 539, 180, 583, 61, 55, 142, 647, 391, 75, 245, 145, 381, 317, 322, 311, 126, 150, 45, 387, 522, 240, 691, 17, 512, 144, 511, 482, 661, 573, 570, 53, 489, 383, 645, 484, 455, 518, 441, 198, 244, 336, 615, 50, 474, 35, 187, 173, 520, 284, 527, 102, 225, 654, 41, 663, 355, 38, 261, 335, 115, 349, 683, 174, 422, 535, 495, 485, 609, 25, 49, 274, 490, 451, 548, 685, 308, 650, 200, 623, 606, 632, 634, 359, 216, 502, 31, 559, 299, 608, 139, 643, 164, 202, 589, 195, 64, 366, 537, 670, 152, 388, 207, 351, 5, 519, 275, 469, 433, 98, 282, 114, 470, 155, 633, 242, 499, 513, 555, 118, 78, 286, 212, 239, 190, 611, 464, 693, 676, 27, 82, 475, 616, 550, 222, 191, 47, 62, 301, 321, 330, 128, 593, 250, 309, 154, 413, 221, 487, 143, 416, 560, 358, 287, 558, 540, 507, 12, 226, 129, 626, 498, 561, 79, 300, 402, 162, 653, 121, 473, 629, 131, 506, 238, 104, 258, 33, 424, 146, 631, 394, 314, 598, 181, 59, 412, 594, 168, 592, 503, 443, 316, 307, 549, 426, 389, 327, 479, 237, 273, 179, 30, 567]
[517, 6, 8, 521, 10, 11, 524, 13, 14, 16, 528, 531, 532, 23, 536, 28, 29, 545, 546, 554, 46, 51, 54, 57, 58, 574, 63, 576, 66, 69, 582, 585, 76, 77, 80, 596, 85, 86, 87, 597, 89, 603, 92, 93, 604, 97, 99, 100, 101, 613, 105, 106, 107, 620, 109, 621, 112, 113, 625, 627, 630, 119, 122, 123, 125, 637, 639, 641, 644, 133, 134, 648, 649, 138, 651, 140, 655, 657, 658, 147, 148, 666, 669, 160, 673, 165, 167, 687, 177, 689, 690, 692, 694, 184, 697, 186, 201, 205, 213, 214, 215, 220, 224, 231, 232, 233, 241, 246, 248, 255, 260, 269, 271, 276, 277, 279, 280, 283, 288, 290, 292, 293, 295, 296, 297, 303, 304, 312, 315, 320, 323, 326, 328, 331, 338, 339, 340, 342, 344, 353, 357, 360, 377, 379, 382, 386, 393, 397, 403, 406, 411, 417, 418, 420, 431, 434, 436, 440, 442, 444, 450, 453, 456, 463, 465, 466, 476, 481, 486, 491, 492, 494, 500, 505, 510]
9